<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <link href="master.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <h1>{{title}}</h1>
    <hr>
    <div style="overflow:auto;">
        {{colorGrid gridSize}}
    </div>
</div>
</body>
</html>