<header class="container bg-dark text-white">
    <div class="row">
        <div class="col">
            <h1>Employees Database CRUD</h1>
        </div>
    </div>
    <hr>

    <nav class="row pb-2">
        <nav class="col">
            <a href="/index">Index/Create</a> |
            <a href="/viewemployees">View Employees</a>
        </nav>
    </nav>
</header>